.description {
    padding-top: 7%;
    position: relative;

    @include breakpoint($to: large) {
        padding-top: 0%;
     }

    &__text {
        width: 55.6%;

        @include breakpoint($to: large) {
            width: 100%;
         }
    }

    &__subtext {
        font-family: $font_family_2;
        padding-bottom: 5%;
    }
    p {
        margin: 0;
    }

    img {
        position: absolute;
        top: 30%;
        right: 0%;
        max-width: 41%;

        @include breakpoint($to: large) {
            position: relative;
            max-width: 100%;
         }
    }
}